@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html{
    font-family: 'Silkscreen'
}

.input{
    font-family: 'Bangers', cursive;
    color: white;
    
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}